---
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Estadisticas</title>
    </head>
    <body class="bg-slate-100">
        <Nav />
        <div class="max-h-full">
            <p class="text-4xl">Ruta no encontrada</p>
            <a href="/" class="btn btn-neutral">Volver a inicio</a>
        </div>
    </body>
</html>
