---
import Contadores from "../layouts/Contadores.astro";
import GraficosMaquinas from "../layouts/GraficosMaquinas.astro";
import PiezasPendientes from "../layouts/PiezasPendientes.astro";
import TablasPiezas from "../layouts/TablasPiezas.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <Contadores />
        <PiezasPendientes />
        <GraficosMaquinas />
        <TablasPiezas />
    </body>
</html>
