---
import Search from "./Search.jsx";
---

<div class="navbar bg-base-100 shadow-md">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost text-xl">Inicio</a>
    </div>
    <div class="flex-none gap-2">
        <Search client:load />
    </div>
</div>
