---
import CardContador from "../components/CardContador";
---

<div class="flex flex-col md:flex-row justify-around p-4">
    <div class="w-full md:w-1/3 p-2">
        <CardContador
            pageUrl="/piezas-actuales"
            functionUrl="obtener_piezas_actuales_conteo"
            title="Piezas actuales"
            client:load
        />
    </div>
    <div class="w-full md:w-1/3 p-2">
        <CardContador
            pageUrl="/piezas-retrasadas"
            functionUrl="piezas_actuales_retrasadas_conteo"
            title="Piezas retrasadas"
            client:load
        />
    </div>
    <div class="w-full md:w-1/3 p-2">
        <CardContador
            pageUrl="/piezas-prioritarias"
            functionUrl="piezas_actuales_prioritarias_conteo"
            title="Piezas prioritarias"
            client:load
        />
    </div>
</div>
