---
import BarChartPlanMaquinas from "../components/BarChartPlanMaquinas";
import BarChart from "../components/BarChart";
---

<BarChart
  functionUrl="/api/produccion/piezas/obtener_estadisticas_maquinado_hoy/"
  client:load
/>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div class="w-full">
    <BarChartPlanMaquinas
      cardTitle="Maquinado"
      functionUrl="/api/produccion/piezas/obtener_estadisticas_maquinado_hoy/"
      client:load
    />
  </div>

  <div class="w-full">
    <BarChartPlanMaquinas
      cardTitle="Soldadura"
      functionUrl="/api/produccion/piezas/obtener_estadisticas_soldadura_hoy/"
      client:load
    />
  </div>

  <div class="w-full">
    <BarChartPlanMaquinas
      cardTitle="Sheet Metal"
      functionUrl="/api/produccion/piezas/obtener_estadisticas_sheetmetal_hoy/"
      client:load
    />
  </div>
</div>
