---
import { API_URL } from "../settings/config";

interface Pieza {
    id: number;
    consecutivo: string;
}

const response = await fetch(`${API_URL}/api/produccion/piezas/`);

if (!response.ok) {
    throw new Error(`HTTP error! status: ${response.status}`);
}

const piezas: Pieza[] = await response.json();
---

<div class="mt-4">
    {
        piezas.map((pieza) => (
            <a
                href={`/piezas/${pieza.id}`}
                class="card shadow-md p-4 ml-4 mr-4 mb-4 btn btn-ghost bg-orange-50"
            >
                {pieza.consecutivo}
            </a>
        ))
    }
</div>
